header{
    background-image: url('../images/about-header-img-2.png');
    padding: 1rem 2rem;
    height: 80vh;
}
.navbar{
    margin: 0;
}
.about-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 2.4vw;
    color: #fff;
}

.about-containers{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 4rem 0;
}

.about-us-container {
    /* height: 50vh; */
}
.about-us-left{
    width: 25%;
}
.about-us-right{
    width: 50%;
}
.about-us-left h2{
    font-size: 2.8vw;
    margin-bottom: 1rem;
}
 .about-us-right p{
    font-size: 1.2vw;
    padding-bottom: 16px;
    font-weight: 350;
}
.about-us-right b{
    font-weight: 600;
}
.about-us-container .about-us-left h2{
    background-size: 20%;
    background-repeat: no-repeat;
}


.solutions-container{
    
}

@media(max-width:900px){
    .about-containers {
        flex-direction: column;
        padding: 1rem 0;
        margin: 0 1.2rem;
    }
    .about-us-left h2{
        font-size: 2.6vw;
        margin-bottom: .6rem;
    }
     .about-us-right p{
        font-size: 1.8vw;
        padding-bottom: 16px;
        font-weight: 350;
    }
}
@media(max-width:600px){
    .about-main{
        padding-top: 2rem;
    }
    .about-containers {
        flex-direction: column;
        padding: 1rem 0;
        margin: 0 1.2rem;
    }
    .about-us-left{
        width: 100%;
    }
    .about-us-right{
        width: 100%;
    }
    .about-us-left h2{
        font-size: 4.6vw;
        margin-bottom: .6rem;
    }
     .about-us-right p{
        font-size: 3.4vw;
        padding-bottom: 16px;
        font-weight: 350;
    }
}

