* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue-shade: #c9ddfe;
  /* --primary-font: "Marcellus SC", serif; */
  --primary-font: "Jost", sans-serif;
  --secondary-bg-color: #f7f4ed;
}

body {
  font-family: var(--primary-font);
  background-color: #FEFCF8;
}

/* body{
  background-color: #e9ecef5d;
} */

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  --sb-track-color: #c1c1c1;
  --sb-thumb-color: #000000;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* ------------------------------- */
/*
header{
    background-color: #c9ddfe41;
} */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.6rem 1rem;
  background-color: #fff;
  border-radius: 10px;
  margin: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
              rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid #ccc;
}

.nav-left img {
  height: 3rem;
}

.navbar a {
  color: #000;
  text-decoration: none;
  margin: 0 18px;
  font-weight: 500;
  font-size: 18px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-right a li {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px 12px;
  border-radius: 2rem;
}

.nav-btn {
  width: auto;
  padding: 6px 10px !important;
}

.nav-btn i {
  margin-left: 6px;
}

.navbar a:hover {
  transition: all ease-in-out 0.2s;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active {
  border-bottom: 2px solid #000;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  height: 2px;
  width: 22px;
  background-color: #000;
  margin: 3px 6px;
  transition: all 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Hide offscreen */
  height: 100%;
  width: 300px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

.sidebar.active {
  right: 0; /* Show sidebar */
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin: 20px 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

.close-btn {
  font-size: 40px;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (max-width: 768px) {
  .nav-links {
      display: none; /* Hide links on mobile */
  }
  .menu-icon {
      display: flex; /* Show menu icon */
  }
}

/* ---------------------------------- */

.slider {
  position: relative;
  width: 96%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  border-radius: 10px;
  min-width: 100%;
  display: flex;
  height: 60vh;
  background-color: var(--secondary-bg-color);
  background-image: url("../images/background-img-one.jpeg");
}
.slide-image {
  width: 44%;
}
.slide-image img {
  width: 100%;
  height: 100%;
  height: auto;
  border-top-left-radius : 10px;
  border-bottom-left-radius : 10px;
}

.slide-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 0 3rem;
}

.slide-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #222;
}

.slide-btn {
  border: 1px solid #000;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s;
  width: 14rem;
  text-align: center;
  border-radius: 6px;
  font-weight: 550;
}

.slide-btn:hover {
}

.btn {
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 10px 12px;
  font-size: 14px;
  min-width: 200px;
  /* margin: 10px; */
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 20;
}
.btn:hover {
  color: #fff;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn1::before {
  transform: scaleX(0);
}
.btn2::before {
  transform: scaleY(0);
}
.btn1:hover::before {
  transform: scaleX(1);
}
.btn2:hover::before {
  transform: scaleY(1);
}

/* Timeline and Navigation Buttons */

.timeline {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 90%;
  height: 5px;
  background-color: #e0e0e0;
  position: relative;
}

.progress {
  height: 100%;
  background-color: var(--blue-shade);
  width: 0;
  transition: width 4s ease-in-out;
}

.timeline button {
  background-color: #fff;
  color: #434343;
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
  height: 3.4rem;
  width: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: #434343 1px solid;
  transition: all ease-in-out 0.3s;
}

.timeline button:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Progress bar */
.progress {
  height: 100%;
  background-color: var(--blue-shade);
  background-color: #000;
  width: 0;
  transition: width 5s linear;
}

/* ---------------------------------- */
/* Popup card styling */
.popup-card {
  position: fixed;
  left: -100%; /* Initially off-screen */
  width: 320px;
  bottom: 1rem;
  padding: 20px;
  background-color: #000;
  border: 1px solid #aaaaaa;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: left 1s ease, right 1s ease; /* Sliding animation */
  z-index: 1000;
}

.close-btn:hover {
  color: #ff0000;
}

/* Popup heading */
.popup-card h2 {
  margin: 0 0 15px 0;
}
 
.popup-card form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-card input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-card button {
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #fff;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 26px;
  border-radius: 50%;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
  border: none!important;
}

.popup-card button:hover {
  
}

/* Active class to trigger the slide-in */
.popup-card.active {
  left: 20px; /* Slide the popup into view */
}

/* Class for hiding the popup (slide out) */
.popup-card.hidden {
  left: -100%; /* Slide the popup out */
}

/* ---------------------------------- */

.head-featured{
  background-color: var(--secondary-bg-color) ;
}
.featured-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.featured-outer-card img {
  width: 94%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.featured-catagories-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.featured-catagories-list div {
  background-color: #c9ddfeb0;
  padding: 1.8rem;
  margin: 0.4rem 1rem;
}

.featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .featured-product-details {
    width: 50%;
}  */
.featured-product-img img {
  width: 50%;
}

/* Container for the image and the overlay */
.image-container {
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  width: auto;
}

.head-featured-images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 1rem;
}

/* Style for the image */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  filter: grayscale(30%);
}

/* Overlay container */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style for the text and button */
.text {
  color: white;
  text-align: center;
}

.buy-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  width: 100%;
  margin-top: 4rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  border: 1px solid #fff;
}

.buy-btn:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #ccc;
}

/* Hover effect on the image container */
.image-container:hover .image {
  filter: grayscale(10%); /* Turn image grey */
}

.image-container:hover .overlay {
  opacity: 1;
}


/* ---------------------------------- */

.featured-section-main {
  background-color: var(--secondary-bg-color);
  margin-top: 0!important;
}
.featured-section {
  padding: 2rem;
  margin-top: 1rem;
}
.heading-style-one {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.heading-style-one h2 {
  font-size: 3.2rem;
  color: #333740;
}
.heading-style-one p {
  font-size: 1.2rem;
  padding: 16px 12px;
}

/* --------------------------------------- */
/* 
.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product-section .product-card {
  width: 90%;
  margin: 0 0.8rem;
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 0.8rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.product-outer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0.4rem;
  padding: 1rem 0;
}

.product-section .product-card img {
  width: 100%;
  height: 100%;
}

.product-section .product-card-details {
  margin: 1.2rem 1rem;
  width: 82%;
}
.product-section .product-card-details button {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}

.view-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.product-section{
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-card{
  background-color: #FEFCF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .8rem;
  margin: 0 6px;
  width: 24%;
  padding-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.product-card-head {
  padding-top: 10px;
}
.product-card-head span:nth-child(2){
  border: 1px solid #999;
  padding: 4px 10px;
  border-radius: 2rem;
  margin-left: 6rem;
  background-color: var(--secondary-bg-color);
}
.product-card-head span{
  font-size: 1vw;
}
.product-img img{
  border-radius: 2px;
  height: 15vw;
  width: 20vw;
  margin: 1.4rem .4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.product-details{
  margin: 0 1.4rem;
}
.product-details h3{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.product-details p{
  font-size: 14px;
}
.product-details button{
  margin-top: 2rem;
  width: 100%;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all ease-in-out .1s;
}
.product-details button:hover{
  background-color: #f7f4eddc;
}

.view-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.view-more-btn button{
  padding: 12px;
  width: 14rem;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.catagory-section .product-card{
  /* background-color: #f7f4ed; */
  background-color: #fff;
}
.catagory-section .product-card .product-card-head span:nth-child(2){
  background-color: #FEFCF8;
}


/* ---------------------------------- */

.catagory-section {
  /* background-color: #c9ddfe53; */
}
.catagory-buttons-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.catagory-buttons {
  margin: 2.4rem 1rem;
}

.catagory-number-heading{
  margin: 2rem;
  display: none;
}

.catagory-section .btn {
  border: 1px solid #888;
  padding: 10px 16px;
  font-weight: 500;
  margin: 10px;
  font-size: 12px;
}

/* ---------------------------------- */


.artist-section{
  margin-top: -3rem;
}
.artist-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.artist-container .artist-card {
  padding: 1rem; 
  padding-bottom: 8px;
  border: 1px solid #ccc;
   width: 20%;
   margin: 1rem .4rem;
   background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.artist-detail{
  margin: 12px 9px;
}
.artist-container .artist-card img{
  width: 100%;
}

/* ---------------------------------- */

.number-card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  background-color: var(--secondary-bg-color);
  padding: 1rem;
}

.number-card-container .number-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  justify-content: center;
  border-right: 1px solid #ccc;
  padding: 2rem 0;
}
.number-card-container .number-card:nth-child(4){
  border-right: none;
}
.number-card-container .number-card .counter{
  font-size: 3.2rem;
  color: #5a5959;
}
.number-card-container .number-card span{
  font-size: 1.4rem;
}

/* ---------------------------------- */

.price-predictor-card{
  display: flex;
  background-image: url('../images/background-img-one.jpeg');
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  border-radius: 6px;
  /* padding: 0 2rem; */
  margin: 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.price-predictor-card-left{
  background-color: #ffffffc8;
  padding: 1rem;
  margin: 1rem;
  padding-bottom: 2rem;
  border-radius: 4px;
}
.price-predictor-card-left h2{
  font-size: 2rem;
}
.price-predictor-card-left p{
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-right: 1rem;
}
.price-predictor-card-left .btn{
  background-color: #000;
  color: #fff;
}
.price-predictor-card-right{
  /* width: 40%; */
  margin-bottom: -6px;
}
.price-predictor-card-right img{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 26rem;
}

/* ---------------------------------- */

.testimonial-scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.testimonial-scroll img{
  height: 24vw;
  width: 24vw;
  margin: 10px;
}
.testimonial-scroll {
  --sb-track-color: #e7e8e8;
  --sb-thumb-color: #000000;
  overflow-x: scroll;
}

.testimonial-scroll::-webkit-scrollbar {
  width: 4px!important;
}

.testimonial-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.testimonial-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .testimonial-scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* ---------------------------------- */

.newsletter-section{
  margin-top: 4rem;
  background-color: #c9ddfe69;
  height: 24vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.newsletter-section h2{
  font-size: 2rem;
}
.newsletter-email{
  margin-top: 1rem;
}
.newsletter-email input{
  padding: 6px 10px; 
  width: 18rem;   
  border: rgba(136, 136, 136, 0.237) solid 1px;
}
.newsletter-email button{
  padding: 6px 10px;    
  width: 6rem;
  border: none;
  background-color: #000;
  color: #fff;
  /* border: #000 solid 1px; */
}

/* ---------------------------------- */

footer{
  border-top: 3rem var(--blue-shade) solid;
  /* margin-top: 4rem; */
}
.container .mb-5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.footer-logo{
  background-color: #fff;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.footer-logo img{
  height: 3.2rem;
  width: 3.8rem;
  border-radius: 50%;
}
.content {
  height: 70vh;
}
.footer-bottom{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    justify-content: space-between;
}
.footer-14398 {
 padding-top: 6rem;
  background: #000;
  color: #777;
}
.footer-14398 .footer-site-logo {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 2px;
  display: block;
}
.footer-14398 h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer-14398 .links li {
  margin-bottom: 10px;
}
.footer-14398 .links li a {
  color: #999;
}
.footer-14398 .links li a:hover {
  color: #fff;
}
.footer-14398 .link-menu li {
  display: inline-block;
}
.footer-14398 .link-menu li a {
  color: #fff;
  display: inline-block;
  padding: 10px;
}
.footer-14398 .link-menu.nav-left li:first-child a {
  padding-left: 0;
}
.footer-14398 .link-menu.nav-right li:last-child a {
  padding-left: 0;
}
.footer-14398 .social li {
  display: inline-block;
}
.footer-14398 .social li a {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}
.footer-14398 .social li:last-child a {
  padding-right: 0;
}
.footer-14398 .line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-59391 {
  border-top: 1px solid #efefef;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 4rem 0;
}
.footer-59391 .site-logo a {
  font-size: 30px;
  color: #3e64ff;
  font-weight: 900;
}
.footer-59391 .nav-links li {
  display: inline-block;
}
.footer-59391 .nav-links li a {
  color: #777;
  padding: 10px;
}
.footer-59391 .nav-links li a:hover {
  color: #3e64ff;
}
.footer-59391 .nav-links.nav-left li:first-child {
  padding-left: 0;
}
.footer-59391 .nav-links.nav-right li:last-child {
  padding-right: 0;
}
.footer-59391 .copyright {
  border-top: 1px solid #efefef;
  padding-top: 50px;
  text-align: center;
  color: #777;
}
.footer-59391 .subscribe .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.footer-59391 .subscribe .form-group input[type="email"] {
  height: 45px;
  border: none;
  background: #e6e6e6;
}
.footer-59391 .subscribe .form-group input[type="email"]:focus,
.footer-59391 .subscribe .form-group input[type="email"]:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.footer-59391
  .subscribe
  .form-group
  input[type="email"]::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]::-moz-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]:-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]:-moz-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group button {
  position: absolute;
  border: none;
  background: none;
  font-size: 1.5rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 0.5rem;
  right: 0.3rem;
  line-height: 0;
}
.footer-59391 .subscribe .form-group button:focus,
.footer-59391 .subscribe .form-group button:active {
  outline: none;
}
.footer-59391 .social li {
  display: inline-block;
  position: relative;
}
.footer-59391 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  color: #333333;
}
.footer-59391 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer-59391 .social li a:hover {
  color: #3e64ff;
}

.footer-95942 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.footer-95942 .nav-links li {
  display: block;
  margin-bottom: 10px;
}
.footer-95942 .nav-links li a {
  font-size: 14px;
  color: #777;
}
.footer-95942 .nav-links li a:hover {
  color: #4200ff;
}
.footer-95942 .social.app {
  font-size: 13px;
}
.footer-95942 .social li {
  display: inline-block;
}
.footer-95942 .social li a {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}
.footer-95942 .social li a:hover {
  color: #4200ff;
}
.footer-95942 .social.nav-left li:first-child a {
  padding-left: 0px;
}
.footer-95942 .social.nav-right li:last-child a {
  padding-right: 0px;
}
.footer-95942 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-48201 {
  padding: 7rem 0;
  background-color: #000;
  color: #777;
}
.footer-48201 .footer-site-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer-48201 .nav-links li {
  margin-bottom: 10px;
}
.footer-48201 .nav-links li a {
  color: gray;
}
.footer-48201 .nav-links li a:hover {
  color: #fff;
}
.footer-48201 .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
.footer-48201 .social li {
  display: inline-block;
}
.footer-48201 .social li a {
  color: gray;
  padding: 7px;
}
.footer-48201 .social li a:hover {
  color: #fff;
}
.footer-48201 .copyright {
  border-top: 1px solid #404040;
}

.footer-99382 {
  padding: 7rem 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #777;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.footer-99382:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.footer-99382 h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.footer-99382 .footer-site-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer-99382 .nav-links li {
  margin-bottom: 10px;
}
.footer-99382 .nav-links li a {
  color: #999999;
}
.footer-99382 .nav-links li a:hover {
  color: #fff;
}
.footer-99382 .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
.footer-99382 .social li {
  display: inline-block;
}
.footer-99382 .social li a {
  color: gray;
  padding: 7px;
}
.footer-99382 .social li a:hover {
  color: #fff;
}
.footer-99382 .copyright {
  border-top: 1px solid #595959;
}

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.footer-16371 .footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.footer-16371 .footer-site-logo a {
  color: #4200ff;
}
.footer-16371 .nav-links {
  padding: 0;
  margin: 0;
}
.footer-16371 .nav-links li {
  display: inline-block;
}
.footer-16371 .nav-links li a {
  padding: 10px;
  color: #000;
}
.footer-16371 .nav-links li a:hover {
  color: #4200ff;
}
.footer-16371 .social h3 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.footer-16371 .social ul li {
  display: inline-block;
}
.footer-16371 .social ul li a {
  display: inline-block;
  padding: 10px;
}
.footer-16371 .social ul li.in a {
  color: #df588a;
}
.footer-16371 .social ul li.tw a {
  color: #15b8ff;
}
.footer-16371 .social ul li.fb a {
  color: #3742d0;
}
.footer-16371 .social ul li.dr a {
  color: #fa38c1;
}
.footer-16371 .social ul li.pin a {
  color: #dd4d5a;
}
.footer-16371 .copyright {
  color: #999999;
}

.footer-39201 {
  padding: 7rem 0;
  color: #9d9d9d;
}
.footer-39201 .subscribe {
  position: relative;
}
.footer-39201 .subscribe .form-control {
  background-color: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  height: 50px;
  padding-left: 30px;
  padding-right: 130px;
  border: none;
  color: #000;
}
.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control::-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-ms-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .btn-submit {
  background: #614ad3;
  height: 40px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.footer-39201 h3 {
  font-size: 16px;
  font-weight: 900;
  color: #000;
  margin-bottom: 20px;
}
.footer-39201 .nav-links li {
  display: block;
  margin-bottom: 10px;
}
.footer-39201 .nav-links li a {
  color: #9d9d9d;
}
.footer-39201 .nav-links li a:hover {
  color: #614ad3;
}
.footer-39201 .social li {
  display: inline-block;
}
.footer-39201 .social li a {
  display: inline-block;
  padding: 10px;
  color: #9d9d9d;
}
.footer-39201 .social li a:hover {
  color: #614ad3;
}


@media(max-width:1355px){
  .timeline button {
    height: 3rem;
    width: 3rem;
  }
  .product-card{
    padding: .8rem;
    margin: 0 4px;
    padding-bottom: 18px;
  }
  .product-card-head span:nth-child(2){
    font-size: 14px;
    margin-left: 2vw;
  }
  .product-img img{
    border-radius: 2px;
    height: 15vw;
    margin: .8rem .4rem;
    margin-top: 20px;
  }
  .product-details{
    margin: 0 1rem;
  }
  .product-details h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .product-details p{
    font-size: 14px;
  }
  .product-details button{
    margin-top: 1rem;
    height: 2rem;
  }
  
}

@media(max-width:1265px){
  .slide-image img {
    width: 100%;
    height: 105%;
  }
  .slide-content h2 {
    font-size: 2.8vw;
    margin-bottom: 10px;
  }
  .slide-content p {
    font-size: 1.4vw;
    margin-bottom: 20px;
  }
  .slide-content {
    width: 55%;
    padding: 0 1.4rem;
  }
}
@media(max-width:1065px){
  .product-section{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }  
  .product-card {
    height: 38vw;
    width: 98%;
  }
}
@media(max-width: 865px){
  .product-section{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }  
  .product-card {
    height: 54vh;
    width: 98%;
  }
}


@media(max-width:560px){
  .navbar{
    padding: 0.6rem .6rem;
    margin: 1rem .8rem;
  }
  .navbar .nav-links{
    display: none;
  }

  /* ---------------------- */
   
  .slide {
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    padding-bottom: 12rem;
    background-image: none;
  }
  .slide-image {
   width: 54%;
  }
  .slide-image img {
    width: 100%;
    height: 100%;
  }
  .slide-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 55%;
    padding: .4rem 2rem;
  }
  .slide-content h2 {
    font-size: 5vw;
    margin-bottom: -10px;
  }
  
  .slide-content p {
    font-size: 4vw;
    margin-bottom: 20px;
    margin: 1rem 0;
    color: #222;
  }
  .slide-content p br{
    display: none;
  }
    
  .slide-btn {
    border: 1px solid #000;
    padding: 5px 10px;
    color: #000;
    width: 6rem;
    text-align: center;
    border-radius: 6px;
    font-weight: 550;
  }
  .progress-bar {
    width: 95%;
    height: 5px;
    margin-right: 4px;
  }
  .timeline{
    background-color: #fff;
    padding: 10px 0;
  }
  .timeline button {
    height: 2.8rem;
    width: 2.8rem;
    margin: 0 2px;
  }
  
  /* ---------------------- */

  .head-featured-images {
    grid-template-columns: 1fr 1fr;
    margin: 0rem;
    padding-top: 1rem;
  }
  .image-container {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: auto;
  }
  
  .featured-section {
    padding: 14px;
    margin-top: .6rem;
  }
  
  .heading-style-one {
    margin: 1rem;
    flex-direction: row;
  }
  
  .heading-style-one h2 {
    font-size: 1.4rem;
    color: #333740;
  }
  
  .heading-style-one p {
    font-size: .8rem;
    padding: 0;
    text-align: end;
  }


  .product-section {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-card {
    padding: .8rem;
    width: 100%;
    margin: 6px 6px;
    padding-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .product-img img {
    border-radius: 2px;
    height: 64vw;
    width: 80vw;
    margin: .8rem .4rem;
    margin-top: 20px;
  }
  .product-card-head span:nth-child(2) {
    font-size: 14px;
    margin-left: 20vw;
  }
  .product-card-head span{
    font-size: 4.2vw;
  }
  .product-card{
    height: 100%;
    width: 100%;
  }


  .catagory-buttons-div {
    flex-direction: column;
  }
  .catagory-buttons {
    display: grid;
    margin: 1rem 0rem;
    width: 98%;
  }
  .catagory-section .btn {
    padding: 10px 16px;
    margin: 4px 0px;
    font-size: 12px;
    width: 100%;
  }
  .view-all-cat-btn{
    margin-left: 0!important;
  }
  .view-all-cat-btn{
    width: 90vw!important;
  }
  


  .artist-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
  }
  .artist-container .artist-card {
    padding: .8rem;
    width: 96%;
    margin: .4rem .4rem;
  }
  .artist-detail h4{
     font-size: 1rem;
  }
  .artist-detail span{
     font-size: .8rem;
  }
  .artist-detail {
    margin: 6px 9px;
  }

  .price-predictor-card {
    display: flex;
    background-image: url('../images/background-img-one.jpeg');
    flex-direction: column;
    margin: 1rem .4rem;
  }
  .price-predictor-card-right img {
    height: 65vw;
    margin-top: 1rem;
    margin-bottom: 0px;
  }
  .price-predictor-card-left {
    background-color: #fff;
  }


  .number-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem .8rem;
    padding: 1rem;
  }
  .number-card-container .number-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-right: 1px solid #ccc;
    border: none;
    padding: 1rem 0;
  }
  .number-card-container .number-card .counter {
    font-size: 2.4rem;
    color: #5a5959;
  }
  .number-card-container .number-card:nth-child(1) {
    border-bottom: 1px solid #ccc;
  }
  .number-card-container .number-card:nth-child(2) {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .number-card-container .number-card:nth-child(4) {
    border-left: 1px solid #ccc;
  }
   

  .testimonial-scroll img{
    height: 64vw;
    width: 64vw;
    margin: 10px;
  }

  .newsletter-section {
    margin-top: 2rem;
    height: 36vh;
  }
  .newsletter-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .newsletter-section h2 {
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  
  .newsletter-section hr{
    width: 30%;
    margin-bottom: 12px;
  }
  .newsletter-section p{
    font-size: 14px;
    width: 90%;
  }
  .newsletter-email input {
    width: 14rem; 
  }


  .footer-14398 {
    padding-top: 3rem;
  }
  .container .mb-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }
  .footer-bottom {
    padding: 1rem 1rem;
    width: 85vw;
    justify-content: space-between;
  }
} 



