.product-page-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.artwork-container {
  display: flex;
  gap: 40px;
  padding: 4rem 0;
}
.artwork-image img {
  max-width: 100%;
  width: 46vw;
  height: auto;
  height: auto;
  border: 2px solid #ddd;
}
.artwork-details {
  max-width: 600px;
  color: #333;
  line-height: 1.6;
}
.artwork-details h1 {
  font-size: 2.2em;
  margin-bottom: 15px;
  color: #000;
}
.artwork-details p {
  font-size: 1em;
  margin: 10px 0;
  font-weight: 300;
}
.artwork-details .detail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}
.artwork-details .detail strong {
  font-weight: 500;
  color: #555;
}
.price-section {
   font-weight: bold;
   color: #000;
   margin-top: 15px;
   font-size: 1.4rem!important;
   font-weight: 300!important;
   background-color: #faf5e9;
   padding: 4px;
}
.price-section span{
    font-weight: 500!important;
}
.buy-now-btn {
  display: inline-block;
  margin-top: 8px;
  padding: 4px 25px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  border-radius: 2px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all ease-in-out .1s;
}
.buy-now-btn:hover{
  background-color: #f7f4eddc;
}
  
/* Responsive Design */
@media (max-width: 768px) {
  .artwork-image img {
      width: 94vw;
  }
  .artwork-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .artwork-details {
    max-width: 100%;
    padding: 0 20px;
  }
  .artwork-details h1 {
    font-size: 1.8em;
  }
  .artwork-details p {
    font-size: 0.95em;
  }
}
@media (max-width: 480px) {
  .artwork-details h1 {
    font-size: 1.5em;
  }
  .artwork-details p {
    font-size: 0.9em;
  }
  .buy-now-btn {
    font-size: 0.9em;
    padding: 8px 20px;
  }
}
